table, th, tr, td {
    padding: 10px;
}

#img {
    display: none;
    width : 100%;
    height : 100%;
}

.day-mode {
    background-color: white;
    color: black;
}

.night-mode {
    background-image: url("https://wallpapers.com/images/hd/gengar-wicked-grin-15wvx6l3mapvq4pf.jpg");
    background-size: 25%;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.hover:hover {
    color: red;
}